@model IEnumerable<AppWebPersonal.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEmpaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioPorDocena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioPorMayor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEmpaque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioPorDocena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioPorMayor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoProducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
